body {
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
}

.container {
    display: table;
    width: 1200px;
    height: 670px;
    margin-left: 6%;
    margin-right: 4%;
    margin-top: 3%;
    table-layout: fixed;
    border-radius: 5px;
    background-color: #d1d1d1;
}
