body {
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
}

.container {
    display: table;
    width: 1000px;
    height: 700px;
    margin: 5%;
    table-layout: fixed;
    border-radius: 5px;
    background-color: #d1d1d1;
}
