body {
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
}

.container {
    display: table;
    width: 1200px;
    height: 670px;
    margin-left: 5.5%;
    margin-top: 3.5%;
    table-layout: fixed;
    border-radius: 10px;
    background-color: #d1d1d1;
}

img {
    padding: 10px;
    display: inline-block;
    max-height: 200px;
}
p {
    float: right;
    padding-right: 100px;
}

.img3>p {
    padding-right: 10%;
}
